.login-form {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.login-form label,
.login-form input {
  display: block;
}

.login-form label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}

.login-form input {
  flex: 3;
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
